#battledome-wrapper {
  height: 713px;
  width: 100%;
  position: relative;
  background-color: green;
}

#display-region {
  width: 75%;
  height: 655px;
}


#combat-log-region {
  width: 25%;
  height: 713px;
  right: 0;
  background-color: blue;
  position: absolute;
}
