#battledome-wrapper {
  height: 713px;
  position: relative;
  background-color: green;
}

// #display-region {
//   padding-left: 5px;
//   width: 989px;
//   height: 565px;
// }

// #battledome-size {
//   width: 989px;
//   height: 565px;
// }

// #ui-size{
//   text-align: center;
//   width: 989px;
//   height: 150px;
// }

#combat-log-region {
  width: 24%;
  height: 713px;

  overflow-y: auto;
  background-color: blue;

  color: white;
  text-align: center;
  font-size: 75%;
}
