#control-region {
  height: 100px;
  width: 100%;
}

#play-region{

  #short-pitch {
    background-color: red;
    opacity: 0.4;
  }
  #good-pitch {
    background-color: green;
    opacity: 0.4;
  }
  #full-pitch {
    background-color: orange;
    opacity: 0.4;
  }

  .pitch {
    background-color: green;
    height: 10px;
  }

  #below-pitch {
    color: white;
    text-align: center;
  }

  .pitch-segments{
    height: 40px;
  }

  .person {
    height: 150px;
    width: 30px;
    margin: auto;
    background-color: black;
  }

  #head {
    height: 20%;
    width: 30px;
    border: 1px solid white;
  }

  #torso {
    height: 45%;
    width: 30px;
    border: 1px solid white;
  }

  #left-leg {
    display: inline-block;
    height: 100%;
    width: 13px;
    background-color: white;
    border: 1px solid black;
  }

  #right-leg {
    display: inline-block;
    height: 100%;
    width: 13px;
    background-color: white;
    border: 1px solid black;
  }

  .legs {
    height: 35%;
    width: 30px;
  }

  #empty-wicket{
    height: 60px;
  }

  #wicket {
    height: 90px;
    width: 8px;
    margin: auto;
    background-color: brown;
  }

  .bat {
    background-color: burlywood;
    position: absolute;
    z-index: 20;
  }

  #back-swing{
    width: 70px;
    height: 12px;
    // display: none;
  }

  #down-swing{
    width: 12px;
    height: 70px;
    // display: none;
  }

  #fore-swing{
    width: 70px;
    height: 12px;
    // display: none;
  }

  #ball {
    position: relative;
    height: 0px;
    width: 0px;
    border-radius: 10px;
    border: 5px solid red;
    z-index: 5;
  }

}
