#current-over {
  width: 500px;
  float: left;
}
#over-totals {
  width: 400px;
  float: right;
}

// .cric-tables {
//   display: inline-block;
// }

.run-row {
  border-bottom: 1px solid lightgrey;
}
