.cell {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.map-row {
  display: block;
  height: 20px;
}

.wall {
  z-index: 3;
  background-color: saddlebrown;
}

.vertical-wall {
  height: 20px;
  width: 8px;
  margin: 0px 6px;
}

.horizontal-wall {
  height: 8px;
  width: 20px;
  margin: 6px 0px;
}

.enemy {
  margin: 2px;
  background-color: red;
  z-index: 2;
}

.simple-melee {
  border-radius: 4px;
  border: 8px solid red;
}

.simple-ranged {
  border-radius: 3px;
  width: 15px;
  height: 15px;
  border: 3px solid orange;
}

.player {
  background-color: green;
  z-index: 2;
  margin: 2px;
  border-radius: 4px;
  border: 8px solid green;
}

.tresure-chest {
  background-color: yellow;
  height: 8px;
  width: 14px;
  margin: 6px 3px;
  border: 1px solid gray;
}

.health{
  height: 8px;
  width: 22px;
  margin-top: 9px;
  background-color: black;
  border: 1px solid black;
  border-radius: 1px;
  position: absolute;
}

.health-bar {
  border: 1px solid red;
  border-radius: 1px;
  height: 5px;
  width: 3px;
  margin-right: 1px;
  margin-bottom: 10px;
  display: inline-block;
}


.positive-health {
  border-color: lime;
  background-color: lime
}

.negative-health {
  border-color: red;
  background-color: red
}
