#player-health-wrapper {
	height: 15%;
	width: 100%;

	#player-health-bars {
		margin-top: 10px;
		margin-left: 10px;
	}

	.health-bar {
		margin: 0px 5px;
		height: 15px;
		width: 30px;
		border-style: solid;
		border-width: 3px;
	}
}
